.menu{
    display: flex;
    flex-direction: column;
    padding: 3% 0;
    font-family: var(--montserrat);
}
.menu h1{
    font-size: 3rem;
    text-align: center;
    color: #CC5256;
    margin: 0% 0%;
}
.menu img{
    margin: 0 auto;
    width: 40%;
    max-width: 80px;
}
.menu ul{
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 1rem;
   font-weight: 700;
   margin: 5% 0%;
   
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu a:hover{
    color: #CC5256;
    text-decoration: underline;
    transition: .3s ease-in-out;
    font-weight: 700;
}